<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- IF JS IS AVAILABLE ADD CLASS -->
  <script>document.documentElement.classList.add('has-js');</script>
  <!-- META INFORMATION -->
  {%- include "partials/meta.html" -%}
  <!-- CSS -->
  {%- include "css/styles.njk" -%}
</head>
<body>
  <header class="site-head" role="banner">
    {%- include "partials/header.html" -%}
  </header>
  <main id="main" tabindex="-1" class="wrapper">
    {%- block content -%}
      This page is under maintenance.
    {%- endblock -%}
  </main>
  {%- block bodyScripts -%}{%- endblock -%}
</body>
</html>
