<a href="#main-content" class="skip-link">Skip to content</a>
<div class="wrapper">
  <div class="site-head__inner">
    <a href="/" aria-label="ACME home" class="site-head__brand">
      <img src="images/logo.svg" alt="ACME logo" width="48" height="60.34" />
    </a>
    <burger-menu max-width="600">
      <nav class="navigation" aria-label="primary">
        <ul role="list">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Our Work</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
          <li>
            <a href="#">Your account</a>
          </li>
        </ul>
      </nav>
    </burger-menu>
  </div>
</div>